body {
    margin: 0;
    padding: 0;
    background-color: rgb(2, 26, 36);
    color: wheat;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(14, 2, 60);
}

nav ul li {
    display: inline;
    justify-content: center;
}

nav ul li a {
    text-decoration: none;
    color: aliceblue;
}

nav ul li a:hover {
    color: rgb(49, 49, 204);
    font-size: large;
    font-style: italic;
}

.left {
    font-size: 2rem;
    color: rgb(166, 208, 237);
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

.firstsection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}

/* .firstsection >div{
    width: 30%;
} */

.leftsection {
    color: rgb(243, 241, 241);
    font-size: 2rem;
}

.leftsection .button {
    padding: 49px 0;
}

.leftsection .btn {
    padding: 12px;
    background: cornflowerblue;
    color: rgb(31, 4, 85);
    border: 2px solid wheat;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
}

.button .btn:hover {
    color: rgb(187, 187, 196);
    background-color: rgb(14, 21, 92);
    transition-duration: 1.5s;
}


.rightsection {
    margin-top: 15px;
    color: black;

}

.rightsection img {
    width: 673px;
    margin-right: 100px;
    margin-left: -109px;
    height: 475px
}

.text-gry {
    color: rgb(174, 140, 140);
}

main hr {
    border: 0;
    background-color: rgb(193, 193, 248);
    height: 1px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 27px;
}

.secondsection {
    max-width: 80vw;
    margin: auto;
    font-size: 25px;
}

.purple {
    color: rgb(39, 39, 209);
}

#element {
    color: rgb(110, 6, 207);
}

.secondsection h1 {
    font-size: 1.9rem;
    margin-top: -2px;
}

.text-gray {
    color: gray;
    font-size: 1rem;
}

.secondsection .box {
    background: white;
    width: 80vw;
    height: 2px;
    margin: 36px 0;
    display: flex;

}

.secondsection .vertical {
    height: 93px;
    width: 1px;
    background-color: aliceblue;
    margin: 0 130px;
}

.image-top {
    width: 24px;
    position: relative;
    top: -32px;
    left: -32px;
}

.vertical-title {
    font-size: 20px;
    position: relative;
    top: 67px;
    width: 170px;
    font-size: 15px;
}

.vertical-desc {
    font-size: 8px;
    color: aquamarine;
    font-size: 17px;
    top: 100px;
    position: relative;
    width: 169px;
}

footer {
    background-color: rgb(32, 36, 43);
    margin-top: 390px;
}


.footer {
    display: flex;
    padding: 23px 123px;
    justify-content: space-evenly;

}

.footer-first {
    color: rgb(7, 226, 98);
    padding: 0 23px;

}

footer ul {
    list-style: none;
}

footer ul li {
    padding: 2px;
}

.footer>div {
    width: 153px;
}

footer .footer-right {
    text-align: center;
    background-color: black;
    color: gray;
    padding: 9px 5px;
}